@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.nav-link {
  @apply p-3 text-text-primary font-semibold hover:text-text-secondary focus:text-text-secondary hover:underline focus:underline;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply text-text-primary;
}
p,
span {
  @apply text-text-secondary;
}
button {
  @apply relative;
}

.icon {
  @apply bg-gradient-to-b from-[#6D6D8A] to-[#37374A];
}


.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;
  background: #181830;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.slider::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #999aab;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #999aab;
  cursor: pointer;
}
